.content {
	display: flex;
	flex-direction: row;
	
}
.side-section {
	width: 30px;
	background-color: rgb(246, 244, 242);
	display: flex;
	flex-direction: column;
}
.side-top {
	height: 200px;
}
.side-bottom {
	flex: 1;
	background-color: #402924;
}
.middle-section {
	flex: 1;
	background-color: rgb(204, 192, 186);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 460px;
}
.middle-section-wide {
	display: none;
	width: 0px;
}

.middle-bottom {
	height: 40px;
	width: 100%;
	background-color: #402924;
	margin-top: -1px;
}
.seperator-line-bottom {
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: #402924;
	height: 1px;
	width: 100%;
	
}
.bottom {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	margin-bottom: 8px;
	background-color: rgb(246, 244, 242);
	padding-left: 30px; 
	padding-right: 30px;
}
.social-media {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.social-link {
	flex: 1f;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.social-pic {
	height: 24px;
}
@media (min-width: 550px) {
	.side-section {
		width: 40px;
	}
	.middle-section {
		width: 0px;
		display: none;
	}
	.middle-section-wide {
		display: flex;
		flex: 1;
		align-items: center;
		height: 430px;
		background-color: rgb(204, 192, 186);
		justify-content: center;
	}
	.bottom {
		padding-left: 40px;
		padding-right: 40px;
	}
	.seperator-line-bottom {
		width: 100%
	}
}
@media (min-width: 1020px) {
	
}